.course-card {
  margin: 20px 10px;
  max-width: 474px;
}

.course-actions {
  text-align: center;
}

.course-thumbnail {
  max-width: 474px;
  max-height: 267px;
}

.long-description {
  min-height: 50px;
  max-width: 442px;
}

.hanset-portrait .course-card {
  width: 100%;
  margin: 0;
  padding: 16px 0;
}

.hanset-portrait .course-thumbnail {
  width: 100%;
  margin: 0;
}

.hanset-portrait .long-description {
  padding: 10px 10px 0 10px;
}
